  server:
    port: 8083
    address: 0.0.0.0

  spring:
    application:
      name: notification-service

    datasource:
#      url: jdbc:mysql://host.docker.internal:3306/notification_servicedb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      url: jdbc:mysql://localhost:3306/notification_servicedb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      username: root
      password: password
      driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
      hibernate:
        ddl-auto: update
      database-platform: org.hibernate.dialect.MySQLDialect
      show-sql: true
      properties:
        hibernate:
          format_sql: true

    kafka:
      bootstrap-servers: localhost:9092
      consumer:
        group-id: notification-service-group
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        auto-offset-reset: earliest

  eureka:
    client:
      enabled: true
      fetch-registry: true
      service-url:
         defaultZone: http://eureka:8761/eureka/
 #         defaultZone: http://localhost:8761/eureka/
  #      defaultZone: http://eureka-server:8761/eureka/

  management:
    endpoints:
      web:
        exposure:
          include: health, info
    endpoint:
      health:
        show-details: always
